<!DOCTYPE html>
<title> Sample </title>
<link rel="stylesheet" href="../static/bootstrap-5.0.2-dist/css/bootstrap.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<script src="../static/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
<link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png">

<body>
    <h1>Hello World!</h1>
</body>