<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Rotten Apples Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script src="../static/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon_io/favicon-32x32.png">

</head>
<body>
    <nav>
        <ul>
            <li><a class="homepage" th:href="@{/}">Rotten Apples</a></li>
            <li><a class="login" href="UserLogin.html">Log In</a></li>
            <li><a class="signup" href="signup.html">Register</a></li>
            <li><a class="homepage" th:href="@{playlists}">All Playlists</a></li>
        </ul>
    </nav>
</body>
</html>
