<!DOCTYPE html>
<html>
<head>
    <title th:text="${movie.title}"></title>

    <link rel="icon" type="image/png" sizes="16x16" th:href="@{favicon_io/favicon-32x32.png}">
    <link rel="stylesheet" th:href="@{/styles/movieDetail.css}">
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Arvo&display=swap}" rel="stylesheet">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{favicon_io/favicon-32x32.png}">
</head>
<body class="main">
  <nav>
    <ul>
        <li><a class="homepage" th:href="@{/}">Rotten Apples</a></li>
        <li><a class="login" th:href="@{/login}">Log In</a></li>
        <li><a class="signup" th:href="@{/signup}">Register</a></li>
        <li><a class="playlistpage" th:href="@{/playlists}">Back to Playlists</a></li>
    </ul>
</nav>

     
        <ul>
            <li class="card">
            <div class="content">
                <h1 class="movieTitle" th:text="${movie.title}"></h1>
                <img class="moviePoster" th:src="${movie.poster}">
                <p class="releaseDate" th:text="${movie.releaseDate}" ></p>
                <p class="genre" th:text="${movie.genre}" ></p>
            
            </div>
        
            </li>
        </ul>
      
    
    </body>
  </html>

 