<!DOCTYPE html>
<html>
    <head>
        <title> Sign Up </title>
        <meta charset="utf-8">
        <link th:href="@{https://fonts.googleapis.com/css2?family=Arvo&display=swap}" rel="stylesheet">
        <link rel="stylesheet" href="../static/styles/signup.css" th:href="@{/styles/signup.css}">
        <link rel="stylesheet" href="../static/bootstrap-5.0.2-dist/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
        <link rel="icon" href="../static/favicon_io/favicon-16x16.png" type="image/png" sizes="16x16" th:href="@{favicon_io/favicon-32x32.png}">
        <script src="../static/bootstrap-5.0.2-dist/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <nav>
            <ul>
                <li><a class="homepage" th:href="@{/}">Rotten Apples</a></li>
                <li><a class="login" th:href="@{/login}">Log In</a></li>
            </ul>
        </nav>
        <main id="main-holder"> 
            <h1 id="signup-header">Sign Up</h1>
            <form id="signup-form" th:action="@{/signup}" method="post">
                <input type="text" name="username" id="username-field" class="signup-form-field" placeholder="Username">
                <input type="password" name="password" id="password-field" class="signup-form-field" placeholder="Password">
                <input type="submit" value="Submit" id="signup-form-submit">
            </form>
        </main>
    </body>
</html>