
body {
    background-color: #151717;
    color: #9D0208;

}

body.main {
  background-color: #151717;
  color: #9D0208;


}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav {
    margin-bottom: 10px;
    width: 100%;
    height: 10px;
    float: left;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding: 0px 20px;
    position: relative;
  }

nav a {
    font-size: 40px;
    text-decoration: none;
    font-family: 'Arvo', serif;
    font-weight: 800;
    color: #9D0208;
}


nav a:hover{
    color: #9D0208;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #9D0208;
  
    position: absolute;
    top: 0;
    width: 0%;
  
    transition: all ease-in-out 250ms;
  }
  
  nav a:hover::before {
    width: 100%;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  